.start-screen {
  background-color: #404040;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mobile-screen {
    display: none;
  }

  div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: white;
      text-shadow: 1px 1px 10px red;
      font-size: 100px;
      top: 15vh;

      .small {
        font-size: 70px;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    h2 {
      position: absolute;
      font-size: 60px;
      bottom: 85px;
    }

    .startbox {
      height: 80vh;
      border-radius: 10px;
      border: 1px solid gold;
      box-shadow: 4px 4px 10px rgba(128, 122, 58, 0.405);
    }

    .label-box {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      &:hover {
        filter: brightness(1.5);
      }
    }
    .startbox-label {
      width: 50vw;
      height: 25vh;
    }
  }
}

@media (max-width: 1440px) {
  // Laptop-screen
  .start-screen {
    .label-box {
      h2 {
        bottom: 75px;
      }
    }
  }
}

@media (max-width: 900px) {
  // Ipad-screen
  .start-screen {
    .startbox {
      height: 100vh !important;
      width: 100vw;
      object-fit: cover;
    }
    h2 {
      bottom: 90px !important;
    }
  }
}

@media (max-width: 480px) {
  // Mobile-screen
  .label-box {
    bottom: 20px;
    .startbox-label {
      width: 70vw !important;
    }
    h2 {
      font-size: 45px !important;
      bottom: 80px !important;
    }
  }
}

@media (max-width: 414px) {
  // Mobile-360vw
  .label-box {
    h2 {
      font-size: 40px !important;
      bottom: 64px !important;
    }
  }
}
